@font-face {
  font-family: 'Prompt-Bold';
  src: url('/fonts/Prompt-Bold.ttf');
}

@font-face {
  font-family: 'Prompt-Medium';
  src: url('/fonts/Prompt-Medium.ttf');
}

@font-face {
  font-family: 'Prompt-Regular';
  src: url('/fonts/Prompt-Regular.ttf');
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Prompt-Medium';
}

.title {
  font-family: 'Prompt-Regular';
}

a{
  color: cornsilk;
  font-weight: bold;
}

a:hover{
  color: darkgrey;
  font-weight: bold;
}

/* 
  ProductList
*/
.wrapper-img{
  position: relative;
  overflow: hidden;
}

.wrapper-img::after{
  content: '';
  margin-top: 55.25%;
  display: block;
  height: 0;
}

.wrapper-img img{
  position: absolute;
  top: 0;
  transition: 1.5s;
}

.wrapper-img img:hover{
  transform: scale(1.2);
}
